@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

/* 
=====================
Global Styles  
=====================
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary color shades */
  --color-primary-1: #9e8bd8;
  --color-primary-2: #c2a6ff;
  --color-primary-3: #8264c8;
  --color-primary-4: #744fc0;
  --color-primary-5: #6739b7;
  --color-primary-6: #59309f;
  --color-primary-7: #4b2887;
  --color-primary-8: #3d1f70;
  --color-primary-9: #30175a;
  --color-primary-10: #231045;

  /* Secondary color shades */
  --color-secondary-1: #90dcec;
  --color-secondary-2: #7ad6e8;
  --color-secondary-3: #62d0e5;
  --color-secondary-4: #44c9e2;
  --color-secondary-5: #07c3de;
  --color-secondary-6: #05a9c1;
  --color-secondary-7: #0490a5;
  --color-secondary-8: #027889;
  --color-secondary-9: #02606f;
  --color-secondary-10: #014a55;

  /* Grey color shades */
  --color-grey-1: #7d7d7d;
  --color-grey-2: #696969;
  --color-grey-3: #565656;
  --color-grey-4: #444444;
  --color-grey-5: #323232;
  --color-grey-6: #2a2a2a;
  --color-grey-7: #222222;
  --color-grey-8: #1b1b1b;
  --color-grey-9: #141414;
  --color-grey-10: #0d0d0d;

  /* White color */
  --color-white: #fff;

  /* Black color */
  --color-black: #000;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
}

img {
  width: 100%;
  display: block;
}

a {
  display: inline-block;
  text-decoration: none;
}

/* 
=====================
Header 
===================== 
*/

.header-center {
  padding: 0.8rem 0;
  width: 85vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 15rem;
}

.navbar {
  flex-basis: calc(100% - 25rem);
  display: flex;
  justify-content: space-between;
}

.navbar-link {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--color-black);
  transition: all 0.2s ease-out;
}

.navbar-link:hover {
  color: var(--color-primary-5);
}

/* 
=====================
Hero 
=====================
*/
.hero-banner {
  position: relative;
}

.hero-banner-logo {
  position: absolute;
  top: 3%;
  left: 2%;
}

.hero-banner-info {
  position: absolute;
  top: 20%;
  left: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  max-width: 55rem;
}

.hero-banner-btn {
  font-weight: 700;
  font-size: 1.5rem;
  padding: 1.2rem 5rem;
  border-radius: 5rem;
  color: var(--color-white);
  background: transparent;
}

/* Hero Banner 1 */
.hero-banner-1-logo {
  width: 6rem;
}

.hero-banner-1-para {
  color: #017c07;
  font-size: 4rem;
  font-weight: 700;
}

.hero-banner-1-heading {
  color: #017c07;
  font-size: 5rem;
}

.hero-banner-1-btn {
  background-color: #0073d8;
}

/* Hero Banner 2 */
.hero-banner-2-price-text span:nth-child(1) {
  color: #b7b0cb;
  font-size: 4rem;
  text-decoration: line-through;
  margin-right: 1rem;
}

.hero-banner-2-price-text span:nth-child(2) {
  color: var(--color-primary-5);
  font-size: 5.5rem;
}

.hero-banner-2-heading {
  color: var(--color-primary-7);
  font-size: 3.8rem;
}

.hero-banner-2-para {
  color: var(--color-primary-6);
  font-size: 1.8rem;
  font-weight: 700;
}

.hero-banner-2-btn {
  background-color: var(--color-primary-5);
}

/* Hero Banner 3 */
.hero-banner-3-logo {
  width: 25rem;
}

.hero-banner-3-heading {
  color: var(--color-white);
  font-size: 5rem;
}

.hero-banner-3-para {
  color: var(--color-white);
  font-size: 3rem;
}

.hero-banner-3-btn {
  background-color: #17c55f;
}

/* Hero Banner 4 */
.hero-banner-4-heading {
  color: var(--color-white);
  font-size: 4.5rem;
}

.hero-banner-4-para {
  color: var(--color-primary-7);
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
}

.hero-banner-4-btn {
  background-color: var(--color-primary-5);
}

/* Hero Banner 5 */
.hero-banner-5-heading {
  font-size: 5rem;
  color: var(--color-white);
}

.hero-banner-5-heading span {
  color: var(--color-secondary-4);
}

.hero-banner-5-sub-heading {
  font-size: 2.5rem;
  color: var(--color-primary-2);
}

.hero-banner-5-para {
  font-size: 2rem;
  color: var(--color-primary-1);
  line-height: 1.5;
}

.hero-banner-5-btn {
  border: 2px solid var(--color-secondary-4);
}

/* Hero Banner 6 */
.hero-banner-6-heading {
  font-size: 5rem;
  color: var(--color-primary-6);
}

.hero-banner-6-para {
  color: var(--color-primary-7);
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
}
